%h2.content_title 乘坐飞机常识
.accordion{ :id => "general_accordion"}
  %h3~ link_to "行程单遗失应如何处理？", '#'
  %div
    国内客票行程单不可以重打，但可以申请挂失处理；国际客票行程单可在机场或购票处重新提取获得。（航信数据保留有一定期限，过期则无法提取）
  %h3~ link_to "什么是儿童票与婴儿票？", '#'
  %div
    儿童票规定的年龄为：2-12岁。以起飞日期为准。    婴儿票规定的年龄为：0-2岁。 以起飞日期为准。    根据不同的航线与价格，所享有的折扣不同。
  %h3~ link_to "什么是机票的再确认手续？", '#'
  %div
    按照国际航空惯例，对于往返和联程机票，如果在某地停留时间超过72小时，无论是否已订妥后续航班机位，客人均需要提前至少72小时在该地办理后续航班的机位再确认手续。一般方法是：打电话给航空公司告知是否按时乘坐后面航班继续旅行。否则，航空公司有权取消机位
  %h3~ link_to "什么是最后出票时限？", '#'
  %div
    对于旅客所预订的机位，航空公司具有一定的保留期限，一般要求提前3天出票，否则座位将被航空公司取消。对于这一时限，不同的航空公司有各自的规定。
  %h3~ link_to "什么是“不可签转、不可改期、不可退票”？", '#'
  %div
    很多特惠国际机票有一些限制条件，常见有：　　 不可签转：指出票后不能更改航空公司。　　 不可改期：指出票后不能更改出发或回程日期。（具体依照航空公司规定）　　 不可退票：指出票后不能退回程票或全部机票。（具体依照航空公司规定）
  %h3~ link_to "什么是机票的最短、最长停留期限？", '#'
  %div
    很多特惠国际机票均要求客人的旅行日期满足最短、最长停留期限的限制，这是指：　　 最短停留期：客人必须在目的地停留的最短天数。　　 最长停留期：客人可以在目的地停留的最长天数。　　 除此以外，有的票价还对出发、往返是周中还是有周末有要求。
  %h3~ link_to "航空公司的票价等级是如何划分的？", '#'
  %div
    航空公司票价一般分为头等舱、公务舱和经济舱三种等级。 　　 每种等级又按照正常票价和多种不同特殊优惠票价划分为不同的舱位代号。头等舱代号一般为F，A；公务舱代号一般为C，D等等。经济舱的代号，如：有的航线经济舱划分为Y、M、L、K、T五种代号，代表不同的票价，分别拥有不同的座位数量，世界上各个航空公司一般均自行定义使用那些字母作为舱位代号，在舱位代号上无统一的规定。旅客只要预订上了规定的舱位，就可使用规定的价格。 
  %h3~ link_to "什么是正价票与特价票", '#'
  %div
    1． 正价票 指旅客购买的是航空公司正常票价，允许进行签转和更改，一年有效。此类价格高于特价票。　2． 特价票 指旅客购买的是航空公司特殊优惠票价，不允许签转，有很多限制条件，有效期各异，但较便宜。
  %h3~ link_to "电子客票的使用", '#'
  %div
    1、电子机票如何办理登机手续？     直接凭有效证件到机场办理登机手续即可。（行程单仅作为报销凭证）    2、儿童和婴儿能预订电子机票吗？    儿童有预设的证件号就可以预订电子机票；如果儿童没有预设证件号，证件类型选其他，证件号码输入出生日期也可以预订电子客票。    婴儿暂时还无法预订。    3、电子机票如何更改？    电子机票未使用且行程单未打印时，可按航空公司规定办理更改。若已打印行程单，需凭行程单办理。    4、电子机票如何签转？    电子机票签转按航空公司规定操作。折扣票不能签转。    5、电子机票如何退票？    电子机票未使用且行程单未打印时，可按航空公司规定办理退票。若已打印行程单，需凭行程单办理。    6、我预订的电子机票，无法办理升舱怎么办？    请到您所预订的航空公司柜台办理；请找机场值班主任寻求帮助。 
  %h3~ link_to "电子机票及其四大优点", '#'
  %div
    电子机票不仅订票、付款、办理登机手续等全过程都在联网计算机上完成，而且变更出行时间或退票也很方便。它摆脱了传统机票的物流配送环节，使广大用户可以体验到在线支付即刻拿“货”的消费过程。     旅客在线购买成功后，会得到一个电子票号，只要凭身份证和电子票号，在飞机起飞前1小时到机场航空公司专门的柜台，就可以直接拿到登机牌上飞机。这样就避免了因机票丢失或遗忘造成的不能登机的尴尬。    具体说来，它的优点主要有以下四点：    一、预订更方便    使用传统机票，需要经过送票、取票、付款等一系列程序，在机票没有送到之前，订票者必须在规定好时间和地点的地方等送票人员的到来。对于现代商务人士来说，时间就是金钱，如此固定形式的等待，无形中降低了工作效率。而购买电子机票，只需在购票时通过网站，就可以订票和支付所有费用，无须再到柜台进行付款、取票，很方便。    二、可节省更多候机时间    在机场，我们经常会看到排成长队焦急等候的旅客，使用传统机票，如果我们赶的是9点的飞机，往往需要提前一个多小时到机场等候。而目前在国内，电子机票单独设立了自己的值机柜台，9点的飞机，提前半小时到机场也不会耽误航班，可以节省更多侯机时间。    三、不必担心机票遗失    与传统机票相比，电子机票包括了旅客的姓名、航班号、到达站等相关信息，旅客只需要带上自己的身份证，就可以直接到机场办理登机牌。而不必像使用传统机票的时候，总是担心丢三落四忘记带机票、错过航班了。    四、价格更便宜    据国家数据局统计，目前国内传统机票的成本费用耗费每年在20亿元左右，与此相对，电子票全部采取网上操作，大大节省了制票成本，其折扣的空间更大，相对来说也就更便宜。 
  %h3~ link_to "五步看懂保险条款", '#'
  %div
    五步看懂保险条款     初看保险公司的保险条款，大多数人都会觉得内容繁多，无从下手。但只要掌握了基本方法，明确较为重要的信息所在，你就能方便的读懂整个条款的内容。在此，携程教你五步看懂保险条款：    1.了解合同解除或终止情况的规定或列举：即投保人或保险公司在何种情况下可行使合同解除权。    2.了解条款中的名词注释：即保险专用名称正式、统一、具有法律效力的解释。    3.了解条款中的除外责任：即列举保险公司不理赔的几种事故状况。    4.了解条款中的保险责任：即保险公司在哪些情况下必须理赔。    5.了解保险条款的各项要素：即投保人、被保险人、受益人 、保险期限、保险费等。    除此之外，对于条款中不清楚的名词定义，可以参看条款中的“解释”部分；对于保障范围（是否为赔付范围），要着重阅读各项保障利益的“给付范围”和“不给付范围”；还要注意哪些保障利益项下是有免赔额的，如“个人钱财丢失”，有的保险公司不承担每次钱财丢失在免赔额/自负额人民币100元之内的给付。 
  %h3~ link_to "如何理解飞机正点？", '#'
  %div
    飞机与火车不同，一个机场的跑道，一条航线，有多架次飞机列队起落，这要由航管部门安排起落顺序，一是安排地面跑道起飞顺序；二是安排空中同航线飞机安全间隔时间及高度，如同地面车辆要保持一定车距一样，根据上述两点原因，按照国际民航的有关规定及惯例，飞机关舱门后允许有正负15分钟的时间差。
  %h3~ link_to "飞机在空中飞行为什么会发生颠簸呢？", '#'
  %div
    飞机一般都是在万米以下的对流层中飞行，由于空气对流原因，飞机就会出现颠簸现象。一般来说主要是受以下几个因素影响： （1）受地形的影响：在山区，高原，沙漠地区飞行，地形使空气受到阻力，造成空气直运动。 （2）受季节的影响：由于夏天雷雨较多，秋天的风较大、这两个季节颠簸会多些。
  %h3~ link_to "乘坐飞机为什么必须系好安全带？", '#'
  %div
    为飞机一般在飞行过程中，时速都在500公里以上，波音飞机可达900公里，即使在起飞或着陆时，时速也在200多公里，这时要遇紧急情况就会造成一定的后果，如果旅客系好安全带，与飞机同步运动，可以避免惯性力对旅客的危害，各位旅客，为了确保您的旅途安全，当您乘坐飞机时，请您不要忘了系好安全带。
  %h3~ link_to "飞行中乘客发生急病怎么办？", '#'
  %div
    飞行中旅客患急病的例子不多。如果个别旅客在飞机上得了急症，不用担心，乘务员自有办法：第一，可以使用机上配备的急救用品，如氧气、药品、急救箱等。第二，在旅客中常会有医务工作者，他们可以帮助乘务员对病人进行治疗。第三，如果情况极其危急，飞行员可以同地面联系，改变飞行计划，于就近的机场着陆，及时对患者进行抢救，病人的生命安全是有充分保障的。