.helps
  #help_left
    ~ link_to "乘坐飞机常识", help_url(:cat => 'general'), :class => 'general help', :remote => true
    ~ link_to "售中服务",   help_url(:cat => 'service'), :class => 'service help', :remote => true
    ~ link_to "电子票",    help_url(:cat => 'ticket'),  :class => 'ticket help',  :remote => true
    ~ link_to "公司简介",    help_url(:cat => 'intro'),  :class => 'intro help',   :remote => true
  #help_right
    - unless category.blank?
      ~ render category
    - else
      ~ render 'help/intro'