/%h2.content_title  成都市万都航空服务有限公司简介
.content.intro
  .left~ image_tag "blue-logo.png"
  %p 
    &nbsp&nbsp&nbsp
    %span.title 成都市万都航空服务有限公司
    是专门从事国际、国内航空销售业务代理人，公司成立于2007年。总部设在成都市武侯区大华路九号。公司多数部门经理均有十年以上本行工作经验。所有员工都是经过公司严格筛选，对工作积极仔细，对公司认真负责。公司本着“打造精品服务，超越客户期待”的理念，致力于为客户提供专业化，标准化，网络化，全方位的高品质航空旅游服务。
  %p
  我们不要求你是最优秀的，但是要求你适应市场，适合企业。我们坚信，个人力量有限，团队力量无穷。加入我们用你今天的努力，成就你明天的精彩！
#intro_image