/%h2.content_title 售中服务
.accordion{ :id => "service_accordion"}
  %h3~ link_to "如何选择飞机", '#'
  %div
    1、虽然飞机是目前世界上最安全的交通工具，但由于飞机上出事就难以挽救，且影响巨大，因此，许多人乘坐飞机时都很担心安全问题，为了最大化的避免此类事件，我们在此为您准备了一些怎样选择飞机的小窍门：2、选择大航空公司的飞机。因为大公司一般实力雄厚，安全记录好，并有一套完善的管理制度。3、 选择直飞班机。据统计数据指出，大部门空难都发生在起飞、下降、爬升或在跑道上滑行的时候，减少转机也就能避免碰到飞机意外。 4、尽量乘坐大飞机。因为飞机机体越大，受到国际安全检测标准越严，而在发生空难意外时，大型飞机上乘客的生存也相对较小飞机要高些。此外，大型机的机长飞行时间一般比较长，经验丰富。5、飞机的机型也很重要。新飞机和比较成熟的机型乘坐起来比老旧过时的机型更安全。6、在国际军事或政治比较动荡的形势下旅行时，要尽可能避开冲突地区，包括空中飞越和地面机场经停、中转，尽可能取道中立国家。 
  %h3~ link_to "购买飞机票所需证件", '#'
  %div
    1、中国旅客购票，须提供本人居民身份证，并填写《旅客定座单》；外国游客，华侨，港，澳，台胞购票。须出示有效护照，回乡证，台胞证，居留证，旅行证或公安机关出示的其它有效身份证件，并填写《旅客定座单》。2、购买儿童票（两周岁－12周岁）、婴儿票（两周岁以内），应提供儿童、婴儿出生年月的有效证明。3、重病旅客购票，须持有医疗单位出具的适于乘机的证明，经承运人同意后方可购票。购买承运人规定的优惠票，应提供规定的证明。
  %h3~ link_to "免费行李额", '#'
  %div
    1、美国、加拿大航线线：可免费托运两件行李和允许随身携带一件手提行李。托运行李每件重量不超过32公斤，每件最大三边之和不超过158CM。  2、其它所有航线：可免费托运一件行李和允许随身携带一件手提行李，托运行李的重量为经济舱20公斤，公务舱30公斤，头等舱40公斤。3、随身携带一件手提行李最大重量一般为5公斤，最大三边之和113CM(不分航线)。婴儿无免费行李额。超过以上体积或重量的行李要按照航空公司的规定交纳费用。注：托运及携带行李重量各航空公司可能有例外情况，以上仅供参考，以航空公司机场柜台为准或直接向相关航空公司查询。
  %h3~ link_to "行李托运有哪些手续", '#'
  %div
    1、旅客必须凭有效客票托运行李。承运人应在客票及行李票上注明托运行李的件数和重量。2、承运人一般应在航班离站当日办理乘机手续时收运行李；如团体旅客的行李过多，或因其他原因需要提前托运时，可和旅客约定时间、地点托运。3、承运人对旅客托运的每件行李应拴挂行李牌，并将其中的识别联交旅客。经承运人同意的自理行李，应与托运行李合并计重后，交由旅客带入客舱自行照管，并在行李上拴挂自理行李牌。4、不属行李的物品，应按货物托运，不能作为行李托运。 
  %h3~ link_to "什么是儿童票与婴儿票", '#'
  %div
    1、儿童票规定的年龄为：2～12岁。以起飞日期为准。2、婴儿票规定的年龄为：0～2岁。 以起飞日期为准。根据不同的航线与价格，所享有的折扣不同。
  %h3~ link_to "票价等级是如何划分的", '#'
  %div
    1、航空公司票价一般分为头等舱、公务舱和经济舱三种等级。2、每种等级又按照正常票价和多种不同特殊优惠票价划分为不同的舱位代号。3、头等舱代号一般为F，A。4、公务舱代号一般为C，D等等。5、经济舱的代号，如：有的航线经济舱划分为Y、M、L、K、T五种代号，代表不同的票价，分别拥有不同的座位数量，世界上各个航空公司一般均自行定义使用那些字母作为舱位代号，在舱位代号上无统一的规定。旅客只要预订上了规定的舱位，就可使用规定的价格。
  %h3~ link_to "什么是“不可签转/改期/退票”", '#'
  %div
    1、很多特惠机票有一些限制条件，常见有：2、不可签转：指出票后不能更改航空公司。（具体依照航空公司规定）3、不可改期：指出票后不能更改出发或回程日期。（具体依照航空公司规定）4、不可退票：指出票后不能退回程票或全部机票。（具体依照航空公司规定） 
  %h3~ link_to "登机流程", '#'
  %div
    第一、购买机场建设费和保险1、在您购买机票的同时已经支付了机场建设费，而不需要在机场再次购买。2、保险是自愿行为，旅客可以自行决定向保险公司投保“国内航空运输旅客人身意外伤害险”。此项保险金额的给付，不免除或减少航空公司应当承担的赔偿限额。 第二、办理登机手续1、这里主要是确认您的机票有效、换取登机牌和托运行李。 绝大部分机场此时还应出示机场建设费凭证。航班规定离站时间前30分钟停止办理乘机手续。办理登机手续需要了解的事项：2、登机牌上一般有注明您的个人姓名、航班号、登机口、航班登机、起飞时间、分配给你的座位号等资料。请保管好您的登机牌，勿自行撕下登机联，它是您最后登机的唯一凭证。3、搭乘同一飞机前往同一目的地或中途分程地点的二个或二个以上同行旅客或团体旅客，不论他们是否乘同一等级的座位，如同时在同一地点交运行李，其免费行李额可按人数和票价座位级别合并计算。4、行李声明价值：旅客的托运行李，每公斤价值超过人民币50元时，可以办理行李声明价值，航空公司收取声明价值附加费。声明价值不能超过行李自身的实际价值。每一旅客的行李声明价值最高为人民币8000元。已办理行李声明的行李丢失时，按声明价值赔偿，行李的声明价值高于实际价值时，按实际价值赔偿。第三、通过安全检查通道1、购买了机场建设费和办理了登机手续后，您可以通过安全检查通道了。这里主要是查验您的身份证件、机场建设费、机票，对您的个人及随身携带的行李进行检查，确保安全。对于您个人及随身携带的行李规定，请参考行李规定。安检人员有权拒绝您携带过多行李登机，也可以因为安全考虑而拒绝您登机，因此，您需要尽量配合安检人员工作，以免产生不必要的麻烦。第四、侯机室等侯登机1、通过安检通道后，你可以进入侯机室等侯登机了。请您前往登机牌上标明的指定侯机位置，等待登机。第五、登机1、登机时间到后，您可以排对登机了。登机时只检查您的登机牌，工作人员将确认您的登机牌已加盖安检章，并正确乘坐航班。同时注意：2、注意你所乘航班的登机时间和起飞时间，登机时间一般是比起飞时间提前25分钟，起飞时间一过，你的登机资格将被取消。3、侯机位置可能随时变更，请及时关注相关变化，尤其是到了预计登机时间，注意收听机场广播，没有动静时，应考虑可能自己的侯机位置有误，尽快与工作人员联系。
  %h3~ link_to "航班延误航空公司的责任", '#'
  %div
    因航空公司机务维修、航班调配、商务、机组等原因，造成航班在始发地延误或取消，航空公司按规定应向旅客提供餐饮或住宿等服务。由于天气、突发事件、空中交通管制、安检以及旅客等非正常原因，造成航班在始发地延误或取消，航空公司应协助旅客安排食宿，费用由旅客自理。
  %h3~ link_to "航空公司客票挂失办理程序", '#'
  %div
    客票遗失不限指定地点办理挂失手续。    -可以办理挂失手续的地点：原遗失客票的开票销售公司、新购客票的开票销售公司、航空授权单位、航空公司各售票处。    -申请挂失应备资料，旅客在向航空公司或其销售代理人申请挂失时：        1、须出示有效身份证件，如申请挂失者非旅客本人，代办人须持旅客书面委托书，出示旅客本人及代办人有效身份证件。（受理单位保留旅客委托书及旅客证件、代办人证件复印件备案）。        2、旅客须以书面形式向航空公司或其销售代理人申请挂失，说明丢失过程；如在旅客申请挂失前，客票已被冒用或冒退，航空公司不承担责任。        3、旅客须提供遗失地公安部门出据的证明。        4、旅客填写《航空公司遗失票证报失申请书》一份。      5、旅客原购票处须提供遗失客票出票人联原件；如已填开新客票，需同时提供新客票的出票人联。