%h2.content_title 电子票
.accordion{ :id => "ticket_accordion"}
  %h3~ link_to "电子机票如何退票、改期", '#'
  %div
    接受申请：顾客如有改期或退票的需要可拨打客服电话010-51660996，提交您的退票、改期申请。机票确认：客服人员会在接到客户申请后的10分钟内查验您的机票是否未被使用、按航空公司规定是否允许退票、改期。退改办理：在确认机票允许退改后，我们的客服人员会按照各航空公司退改规定为您办理机票的退票及改期服务。票款退还：退款成功后，系统会自动将已经扣除退票手续费的票款退还至您的支付银行帐户，并发短信或Email、电话通知顾客查询是否已到帐。可能由于各家银行不同，一般在一周左右到帐。
  %h3~ link_to "电子机票与纸质机票的购买区别", '#'
  %div
    当在网上或手机上订妥电子机票后，必须在规定时间内进行在线支付，如不及时支付，民航订座系统将会取消所订的机票，支付成功后，民航订座系统才会出票。纸质机票无须在线支付就可以完成预订，客服人员会在大约1小时以内和您联系。由于目前航空公司的一些特殊票和某些航线上的机票，还只能通过纸质机票的形式进行购买，具体情况要查询相关航空公司的规定。
  %h3~ link_to "目前哪些航空公司、那些城市已开通电子机票业务", '#'
  %div
    目前全国都已经普及电子机票。
  %h3~ link_to "全国各机场电子机票值机柜台一览表", '#'
  %div
    中国国际航空公司：北京 中国南方航空公司：广州、北京、长沙、深圳、上海(虹桥)、上海(浦东)、海口、成都、武汉、晋江、张家界、三亚、桂林、昆明、杭州、重庆、南京、沈阳、西安、郑州、济南、北海、大连、合肥、黄山、南昌、南宁、宁波、厦门、珠海、湛江、温州、青岛、乌鲁木齐、哈尔滨、长春、贵阳、太原、丽江、景洪、大理、迪庆香格里拉、汕头 中国东方航空公司：上海浦东机场：A、B 岛票台                    上海虹桥机场：115-118票台                    北京首都机场：F岛东航值班经理柜台 中国上海航空公司：上海虹桥机场：1号值机柜台                    上海浦东机场：44号值机柜台                    北京首都国际机场：H岛岛头上航柜台 中国海南航空公司：三亚、上海、乌鲁木齐、北京、南京、厦门、合肥、呼和浩特、大连、天津、太原、宁波、宜昌、广州、成都、昆明、杭州、桂林、武汉、沈阳、海口、深圳、温州、牡丹江、西安、贵阳、郑州、长沙、青岛 
  %h3~ link_to "什么是电子机票？", '#'
  %div
    电子机票是纸质机票的电子形式，电子客票将票面信息存储在订座系统中，可以像纸票一样执行出票、作废、退票、换开、改转签等操作。目前，它作为世界上最先进的客票形式，依托现代信息技术，实现无纸化、电子化的订票、结帐和办理乘机手续等全过程，给旅客带来诸多便利以及为航空公司降低成本。 
  %h3~ link_to "电子机票的优势？", '#'
  %div
    查询、预订、支付、取票、携带票实现了全程电子化，足以应对任何突发事件，保证第一时间登机。无论何时何地，都可在线管理自己的旅程和查看历史信息，并可轻松的实现在线退改票操作。价格更便宜，同时还能享受到在线购物所获得的其它优惠。
  %h3~ link_to "电子机票如何登机和报销？", '#'
  %div
    电子客票登机新流程以前客人购票后,凭有效证件到机场航空公司柜台打印T4联，然后凭T4联办理登机牌.最后持有效证件,T4联和登机牌通过安检直接登机。 现在客人购票后直接在机场凭有效证件办理登机牌，持有效证件和登机牌通过安检直接登机。电子客票报销新规定以前的电子客票报销需要客人拿T4联和登机牌一起作为报销凭证，缺一不可。现在只需要行程单就可以作为财务的报销凭证,行程单可以在购票地打印，打印行程单的时间可以选择在航班起飞前或起飞后的7天内，行程单只允许打印一次，不可重复打印。电子客票退改新流程北京机票网客服接到用户申请，在确认机票未被使用及行程单未打印后，按照各航空公司的退改规定为用户办理机票的退票及改期服务，如果行程单已经打印过，需要交回行程单后方可办理电子客票行程单样本