#container #header {
	background-color: white;
	.mid_nav{
	  background: url(/images/nav-bg.png) repeat-x;
	  //background-color: $blue-bg-color;
	  border-bottom: 1px solid $lighter-blue-color + #111;
	  padding: 3px 10px 3px 10px;
	  font-size: 1.4em;
	  a{ 
	    border-right: 1px solid $lighter-blue-color; 
	    text-decoration: none;
	    padding-left: 6px;
	    padding-right: 10px;
	    font-weight: bold;
	    &:hover{  }
	    &:last-child{ border: none; }  } }
	//NOT USED 
	.top_header{  
		height: 100px;
		width: 960px;
		background: url(/images/head_bg.png) repeat-x;
		background-position: 0 -80px; 
		//border-bottom: 5px solid $light-blue-color;
		.logo{
		  background: url(/images/blue-logo.png) no-repeat;
		  background-position: 0 -20px;
      width: 125px;
      height: 100px;
      img{
        margin-left: 140px;
        margin-top: 30px;
      }
		}
		.logo_l{ 
			float: left;
			height: 270px;
			width: 450px;
			background: url(/images/toppic_L.png) no-repeat;
			background-position: 0 -80px; }
	  .logo_r { 
			height: 270px; 
			width: 450px; 
			float: left; 
			background: url(/images/toppic_R.png) no-repeat; 
			background-position: 0 -80px; } 
		.title_header{
			padding: 0 0 0 0px;
			position: relative;
			a{ 	
				width: 125px;
				height: 80px;
				position: absolute;
				left: 600px;
				top: 0px;
				background: url(/images/nav_bg.png) repeat-x;
				padding-top: 45px;
				text-align:center;
				text-decoration: none;
				font-size: 1.3em;
				color: #FDF;
				&.help{ }
				&.intro{ left: 730px; } }
			.phone{ 
				padding-left: 5px; 
				font-size: 1.8em;  
				position: absolute;
				left: 530px;
				top: 30px;
				color: $dark-red-color;
				.tel{ float: left; background: url(/images/icon.png); width: 16px; height:16px; margin-top: 10px; }
				.number{ color: $purple-color; margin-left: 30px; width: 400px;} } } }
	.flight_search{
		border: 1px solid $blue-border-color;
		border-top: none;
		$form-height: 80px;
		height: $form-height;
		position: relative;
		form#form_search_flights{
			margin-left: 6px;
			font-size: 1.2em;
			font-weight: bold;
      background: url("/images/back.jpg") repeat-x;
			input[type="text"]{ font-size: 1.15em; }
			.flight_type{ 
				padding-left: 6px;
				float: left; 
				width: 63px;
				height: $form-height;
				border-right: 1px solid $blue-border-color;
				label, input{ line-height: 20px; margin-top: 10px;} }
			.types{	
				margin-left: 10px; 
				width: 210px;
				height: $form-height; 
				float: left;
				.direct_flag{ line-height: 40px; }
				.company{ } }
			.submit_button{ 
				height: $form-height; 
				margin-left: 725px;
				border-left: 1px solid $blue-border-color; 
				input[type="submit"]{ margin: 25px 0 0 50px; } }
			.schedule{ 
				width: 425px;
				height: $form-height;
				float: left;
				padding-left: 10px; 
				border-right: 1px solid $blue-border-color; }
			input.city_datepicker{
				background: url(/images/cal.png) no-repeat;
				background-position: 100px 4px;
			}
			input[type="text"]{ 
				background-color: $light-blue-bg-color;
				width: 118px; 
				height: 24px;
				margin: 5px;  } } } }