.helps{ 
	margin: 15px; 
	#help_left{
		.ui-button-text{
			//color: white;
		}
		a.ui-button{
			margin: 0 6px; 
		} }
	#help_right{
		margin: 10px 0 0 20px;
		.content_title{ font-weight: bold; color: darken($blue-color, 30%); } 
		.content.intro{ 
		  font-size: 1.2em;
		  background: #fff;
		  padding: 15px;
		  width: 500px;
		  border: 1px solid $light-blue-color;
		  span.title { color: $blue-color; font-weight: bold; }
		  .left { float: left; padding-right: 15px; }
			img{ } } } }