#slides {
	margin: 0 15px 15px 15px;
	border: 1px solid $light-border-color;
	background-color: $blue-bg-color;
	float: left;
  ul.pagination {
    height: 20px;
    margin-top: 5px;
    li { 
      float: left;
      &.current a { color: red; }
      a { 
        text-decoration: none; 
        font-weight: bold;
        color: #ccc;
        border: 1px solid pink;
        padding: 4px;
        line-height: 13px;
        display: inline-block;
        margin: 0 2px; } } }
  .slides_container {
    width:380px;
    height:255px;
    div {
      width:380px;
      height:255px;
      display:block;
      img {
        width:380px;
        height:255px; } } } }