~ share_links(root_url, root_url + "images/logo.png");

#bottom
  .partners_box

#footer
  #copyright 
    .copyright 
      版权所有 2007 - 2011
      ~ link_to "成都万都航空公司", "#"
    .design
      .logo
      %span 
        Designed by
        ~ link_to "HEYOOK", "http://www.heyook.com"

#global_loading~ image_tag("loading.gif")
.dialog{:id => "dialog"}