#footer
  #copyright 
    .copyright 
      版权所有 2006 - 2011
      ~ link_to "成都万都航空公司", "#"
    .design
      .logo
      %span 
        网页设计
        ~ link_to "HEYOOK", "http://www.heyook.com"

#global_loading~ image_tag("loading.gif")
~ cities_dialog
.dialog{:id => "dialog"}