@import "partials/base";
@import "partials/layouts";
@import "partials/header";
@import "partials/footer";

.ui-widget {
	font-family: $blueprint-font-family;
	font-size: 0.9em; }
#global_loading{
	overflow: hidden;
	text-align: center; }

.flight_date p { margin: 0; }

h3{
	font-weight: bold;
	font-size: 1.2em; }
	
#container{ 
	border-left: 1px solid $light-border-color; 
	border-right: 1px solid $light-border-color; }
#content{ min-height: 570px; padding-left: 12px; }
#sidebar{ 
	padding: 2px 0 0 8px; 
	border-right: 1px solid $light-border-color;
	form{ width: 195px; } }

	
.search_result{ width: 700px; }	
	
.simple_table{ 
	clear: left; 
	margin: 5px 10px 10px 0;
	.header{ background-color: $blueprint-background-color; } 
	tr.detail_flight td{ 
		background-color: $blue-bg-color; 
		color: $dark-red-color;
		ul{ li{ float: left; margin: 0 10px; list-style-type: none; } } }
	td{
		&.airline{ width: 100px; }
		&.airport{ width: 100px; }
		span{
			&.price{ color: $dark-red-color; font-weight: bold;}
			&.discount{ color: $green-color; } } } }

#cities_tabs{ 
	width: 320px;
	height: 200px;
	clear: left;
	.city_selects{
		padding: 0;
		margin: 0;
	.city_select{ 
		cursor: pointer;
		float: left;
		list-style-type: none;
		margin: 2px 0;
		line-height: 12px; 
		width: 50px; } } }
		
form#form_search_flights{
	input[type="text"]{ width: 110px; }
}

.flight_dates{ 
	height: 55px;
	.flight_date{
		float: left;
		padding: 0 28px; 
		margin: 0 1px;
		background-color: $blue-bg-color;
		cursor: pointer;
		border: 1px solid $light-blue-color;
		&:hover{ background-color: $lighter-blue-color; }
		&.current{ 
			background-color: $light-blue-color; 
			border-bottom: none; }
		p.year{ visibility: hidden; height: 0px; }
		p.lowest_price{ 
			float: left; 
			width: 34px; 
			font-weight: bold; }
		div.discount_existed{ 
			background: url(/images/lowPrice.gif); 
			width: 15px; 
			height: 15px; 
			margin-left: 35px; } } }
	
.clearfix{ clear: both; }
