@import "partials/base";
@import "partials/header";
@import "partials/footer";
@import "partials/help";
@import "partials/widget";
@import "partials/share";
@import "partials/slides";
@import "partials/partners";


.ui-widget {
	font-family: $blueprint-font-family;
	font-size: 0.9em; }
#global_loading{
	overflow: hidden;
	text-align: center; }

.flight_date p { margin: 0; }
ul li{ list-style: none; }

h3{
	font-family: $blueprint-font-family;
	font-weight: bold;
	font-size: 1.2em; }
	
body{ 
	background-color: $blue-bg-color;
	background: url(/images/head_bg.png) repeat-x;
	#top.fixed{
		position: absolute;
		left: 0;
		top: 0;
		height: 125px;
		width: 100%;
		z-index: -1; } }

#container{ 
	@include container; 
	position: relative;
	background-color: white;
	#main{ 
		float: left;
		width: 958px;
		padding-top: 30px;
		background: url(/images/map-bg-p.png) no-repeat;
		background-position: 20px 30px;
		border-left: 1px solid $blue-border-color; 
		border-right: 1px solid $blue-border-color; } }
	
#content{ 
	float: left;
	width: 750px;  
	min-height: 550px;
	background-position: 40px 30px; }

.search_result{ 
	width: 700px; 
	margin: 0 20px;	
	#dto_header h3{ font-weight: bold; margin-left: 10px; }
	.simple_table{ 
		clear: left; 
		margin: 5px 10px 10px 0;
		.header{ background-color: $blueprint-background-color; } 
		tr.detail_flight td{ 
			background-color: $blue-bg-color; 
			color: $dark-red-color;
			ul{ li{ float: left; margin: 0 10px; list-style-type: none; } } }
		td{
			&.airline{ width: 100px; }
			&.airport{ width: 100px; }
			span{
				&.price{ color: $dark-red-color; font-weight: bold;}
				&.discount{ color: $green-color; } } } } }	

#cities_tabs{ 
	width: 320px;
	height: 200px;
	clear: left;
	.city_selects{
		padding: 0;
		margin: 0;
	.city_select{ 
		cursor: pointer;
		float: left;
		list-style-type: none;
		margin: 2px 0;
		line-height: 12px; 
		width: 50px; } } }

.flight_dates{ 
	height: 55px;
	.flight_date{
		float: left;
		padding: 0 25px; 
		margin: 0 1px;
		background-color: $blue-bg-color;
		cursor: pointer;
		border: 1px solid $light-blue-color;
		&:hover{ background-color: $lighter-blue-color; }
		&.current{ 
			background-color: $light-blue-color; 
			border-bottom: none; }
		p.year{ visibility: hidden; height: 0px; }
		p.lowest_price{ 
			float: left; 
			width: 34px; 
			font-weight: bold; }
		div.discount_existed{ 
			background: url(/images/lowPrice.gif); 
			width: 15px; 
			height: 15px; 
			margin-left: 35px; } } }
	
.clearfix{ clear: both; }
.meta{ color: $quiet-color; }
