- if @error.blank?
  ~ render :partial => 'flight_info', :locals => { :type => 'depart' }
  - if @flight_type == 'return'
    ~ render :partial => 'flight_info', :locals => { :type => 'return' }
- else
  .search_result~ "通过AV查询航班信息失败，系统暂时没有提供符合查询条件的航班，请查询航空公司文件"
  
  