~ content_for :side do
  ~ render 'form'
~ render :partial => 'flight_info', :locals => { :result => nil, :type => "depart" }
~ render :partial => 'flight_info', :locals => { :result => nil, :type => "return" }