%ul
  %Li
    ~ link_to "国内多家航空公司上调国内航线燃油附加费", "#"
  %Li
    ~ link_to "民航夏秋航班换季工作准备就绪3月28起执行", "#"
  %Li
    ~ link_to "万都航空诚聘英才", "#"
  %Li
    ~ link_to "牡丹启明卡—一卡在手走遍全球", "#"
  %Li
    ~ link_to "万都网站增加更多实用功能,欢迎体验", "#"
  %Li
    ~ link_to "上海虹桥机场2号航站楼开航温馨提示", "#"
  %Li
    ~ link_to "万都航空“打造精品服务，超越客户期待”的理念", "#"
    
    
    
    




