%ul
  %Li
    ~ link_to "中航信", "http://www.travelsky.com", :target => "_blank"
    .meta~ "中国民航信息集团公司"
  %Li
    ~ link_to "信天游", "http://www.travelsky.com", :target => "_blank"
    .meta~ "电子客票验真官网"
  %Li
    ~ link_to "启明航空", "http://www.qmtrip.com", :target => "_blank"
    .meta~ "中国启明航空公司"
  %Li
    ~ link_to "Heyook", "http://www.heyook.com", :target => "_blank"
    .meta~ "Heyook工作室"