%ul.partners
  %li~ image_tag("partners/part-chinaeastern.jpeg", :class => "chinaeastern")
  %li~ image_tag("partners/part-sichuanair.jpeg", :class => "sichuanair")
  %li~ image_tag("partners/part-airchina.jpeg", :class => "airchina")
  %li~ image_tag("partners/part-southwestair.jpeg", :class => "southwestair")
  %li~ image_tag("partners/part-shanghaiair.jpeg", :class => "shanghaiair")
  %li~ image_tag("partners/part-shenzhenair.jpeg", :class => "shenzhenair")
  %li~ image_tag("partners/part-hainanair.jpeg", :class => "hainanair")
  %li~ image_tag("partners/part-travelskynet.gif", :class => "travelskynet")
  %li~ image_tag("partners/part-tsina.jpeg", :class => "tsina")