%ul
  %Li
    ~ link_to "民航两项重要安全指标均好于世界平均水平", "#"
  %Li
    ~ link_to "民航局:2011年从七个方面落实航班正常", "#"
  %Li
    ~ link_to "波音客机横空出世波音空客对决大飞机", "#"
  %Li
    ~ link_to "全球最安全国际航空公司香港国泰入选", "#"
  %Li
    ~ link_to "2011年北京游,欢迎体验", "#"
  %Li
    ~ link_to "中国最美的地方", "#"
  %Li
    ~ link_to "阿尔山景点", "#"

